<html>

<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/test';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'human music'});
            });
            
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            socket.on('my_response', function(msg) {
                $('#playlist').html(msg.data);
            });

            $('form#submit').submit(function(event) {
                socket.emit('my_event', {data: $('#submit_data').val()});
                return false;
            });
            
            function skip(){
                socket.emit('skip_request');
                return false;
            });
            
            function shuffle(){
                socket.emit('shuffle_request');
                return false;
            });
        });
    </script>
    
<head>
    <title>JukeBot</title>
    <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body>
<div class="container">
 
  <h2>JukeBot Song Request</h2>
  
  
  <form  action="" method="post" role="form">
    <div class="form-group">
      <label for="title">Song Title:</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Song?" autofocus>
    </div>
    <button type="button" name="submit" class="btn btn-success" onclick="submit();"> Submit </button>
    <button type="button" name="skip" class="btn btn-success" onclick="skip();">  Skip  </button>
    <button type="button" name="shuffle" class="btn btn-success" onclick="shuffle();"> Shuffle </button>
  </form>
 
  <br>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message[1] }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
    <div class="alert alert-info" id="playlist" style="white-space: pre-wrap"></div>
</div>
<br>      
</div>
</div>
</body>
</html>