<!DOCTYPE html>
<html lang="en">
<head>
    <title id="page_title">JukeBot - Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="utf-8" name="viewport" content = "width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/login.js"></script>
    <script type="text/javascript" src="/static/md5.js"></script>
    
    <link rel="icon" href="/static/icon.png">
</head>

<body>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login to view the admin page</h4>
            </div>

            <div class="modal-body">
                <form id="login">
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" value="Login" id="login">Login</button>
            </div>
                
        </div>
    </div>

</body>
</html>


